# Core data science and web app packages
streamlit
pandas==2.2.3
numpy
plotly
folium==0.14.0
streamlit-folium==0.11.1

# Machine learning packages
scikit-learn
xgboost
torch==2.7.1


# Data processing
pyarrow==21.0.0

# Visualization
matplotlib==3.10.5
seaborn

# Jupyter notebook support
jupyter
ipywidgets

# Utility packages
requests
tqdm
pyyaml
